extends layout 

block content 

    h1=title 
    ul
        each product in products 
            li 
                a(href=product.url) #{product.name} 
                |         $(#{product.price}) 

        else 
            li There is no products.